<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="runko.runkoandroidapp">

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/runko"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".RunkoActivity"
            android:label="@string/app_name"
            android:parentActivityName=".RunkoActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RunkoActivity" /> -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
